@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

input, select, button {
  font-family: 'Consolas', monospace !important;
  font-size: 20px !important;
  box-sizing: border-box;
}

input, select, option {
  font-family: 'Consolas', monospace !important;
  font-size: 20px !important;
}

.central-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 770px), (max-height: 1000px) {
  input, select, button {
    width: 100% !important;
    min-width: 0 !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
  }
} 